<form class="large-12 columns">
  <fieldset>
    <legend>Personal Information</legend>
  <div class="row">
    <div class="medium-4 columns">
      <label>Family name
        <input type="text" placeholder="dela Cruz" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>First name
        <input type="text" placeholder="Juan" />
      </label>
    </div>
    <div class="medium-4 columns end">
      <label>Middle name
        <input type="text" placeholder="Gitna" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label>Gender
        <select>
          <option>-- Please Select --</option>
          <option>Female</option>
          <option>Male</option>
        </select>
      </label>
    </div>
    <div class="medium-4 columns end">
      <label>Civil Status
        <select>
          <option>-- Please Select --</option>
          <option>Single</option>
          <option>Married</option>
          <option>Divorced</option>
          <option>Legally Separated</option>
          <option>Widowed</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-8 columns">
      <label>Address (House no. Street, Baranggay)
        <input type="text" placeholder="#2 Roman Ayson Rd., Bokawkan" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>City/State
        <input type="text" placeholder="Baguio" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label>Birth Date
        <input type="text" class="span2" placeholder="mm/dd/yyyy" id="dp1">
      </label>
    </div>
    <div class="medium-2 columns end">
      <label>Age
        <input disabled type="text" class="span2" placeholder="">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label>Cellphone Number
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">+63</span>
          </div>
          <div class="small-9 columns">
            <input type="text" placeholder="9001234567">
          </div>
        </div>
      </label>
    </div>
    <div class="medium-4 columns">
      <label>Landline
        <input type="text" placeholder="074-424-1388">
      </label>
    </div>
    <div class="medium-4 columns">
      <label>E-mail Address
        <input type="text" placeholder="apply@synergbpo.com" />
      </label>
    </div>
  </div>
  </fieldset>
  <fieldset>
    <legend>General Information</legend>
    <div class="row">
      <div class="medium-6 columns">
        <label>Have you been previously employed?</label>
        <input type="radio" name="past-employment" value="yes" id="past-employment-yes"><label for="yes">Yes</label>
        <input type="radio" name="past-employment" value="no" id="past-employment-no"><label for="no">No</label>
      </div>
    </div>
    <fieldset>
      <legend>If yes</legend>
      <div class="row">
        <div class="medium-6 columns">
          <label>Year</label>
        </div>
        <div class="medium-6 columns">
          <input type="text" placeholder="medium-4" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Business Establishment</label>
        </div>
        <div class="medium-6 columns">
          <input type="text" placeholder="medium-4" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Position</label>
        </div>
        <div class="medium-6 columns">
          <input type="text" placeholder="medium-4" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Reference Name</label>
        </div>
        <div class="medium-6 columns">
          <input type="text" placeholder="medium-4" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Reference Contact #</label>
        </div>
        <div class="medium-6 columns">
          <input type="text" placeholder="medium-4" />
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="medium-12 columns">
        <label>How were you referred to us?
          <textarea placeholder="small-12.columns"></textarea>
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Education</legend>
    <div class="row">
      <div class="medium-offset-3 medium-6 columns">
        <label>School</label>
      </div>
      <div class="medium-3 columns end">
        <label>Year Graduated</label>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns">
        <label>High School</label>
      </div>
      <div class="medium-6 columns">
        <input type="text" placeholder="medium-6">
      </div>
      <div class="medium-3 columns end">
        <input type="text" placeholder="medium-6">
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns">
        <label>College</label>
      </div>
      <div class="medium-6 columns">
        <input type="text" placeholder="medium-6">
      </div>
      <div class="medium-3 columns end">
        <input type="text" placeholder="medium-6">
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns">
        <label>Others</label>
      </div>
      <div class="medium-6 columns">
        <input type="text" placeholder="medium-6">
      </div>
      <div class="medium-3 columns end">
        <input type="text" placeholder="medium-6">
      </div>
    </div>
  </fieldset>
  <div class="row">
    <div class="medium-12 columns">
      <a class="button">Submit</a>
      <a class="button">Cancel</a>
    </div>
  </div>
</form>
