<form class="large-12 columns">
  <fieldset>
    <legend>Personal Information</legend>
  <div class="row">
    <div class="medium-4 columns">
      <label>Family name
        <input type="text" placeholder="Cruz" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>First name
        <input type="text" placeholder="Juan" />
      </label>
    </div>
    <div class="medium-4 columns end">
      <label>Middle name
        <input type="text" placeholder="Dela" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-6 medium-4 columns">
      <label>Gender
        <select>
          <option>Male</option>
          <option>Female</option>
        </select>
      </label>
    </div>
    <div class="small-6 medium-4 columns end">
      <label>Civil Status
        <select>
          <option>Single</option>
          <option>Married</option>
          <option>Divorced</option>
          <option>Legally Separated</option>
          <option>Widowed</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-8 columns">
      <label>Address (House no. Street, Baranggay)
        <input type="text" placeholder="#2 Roman Ayson Rd., Bokawkan" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>City/State
        <input type="text" placeholder="Baguio" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 small-6 columns">
      <label>Birth Date
        <input type="text" class="span2" placeholder="mm/dd/yyyy" id="dp1">
      </label>
    </div>
    <div class="medium-2 small-6 columns end">
      <label>Age
        <input disabled type="text" class="span2" placeholder="">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label>Cellphone Number
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">+63</span>
          </div>
          <div class="small-9 columns">
            <input type="text" placeholder="9001234567">
          </div>
        </div>
      </label>
    </div>
    <div class="medium-4 columns">
      <label>Landline
        <input type="text" placeholder="074-424-1388">
      </label>
    </div>
    <div class="medium-4 columns">
      <label>E-mail Address
        <input type="text" placeholder="apply@synergbpo.com">
      </label>
    </div>
  </div>
  </fieldset>
  <fieldset>
    <legend>Education</legend>
    <div class="row" ng-repeat="record in education">
      <div class="medium-3 columns">
        <label>Level
          <select>
            <option>College</option>
            <option>Highschool</option>
            <option>Elementary</option>
            <option>Others</option>
          </select>
        </label>
      </div>
      <div class="medium-4 columns">
        <label>School (Indicate degree)
          <input type="text" placeholder="Saint Louis University - BSIT">
        </label>
      </div>
      <div class="medium-2 small-6 columns">
        <label>From
          <input type="text" placeholder="2011">
        </label>
      </div>
      <div class="medium-2 small-6 columns">
        <label>To
          <input type="text" placeholder="2015">
        </label>
      </div>
      <div class="medium-1 small-12 columns end text-center">
        <label><br>
          <a class="trash-red" ng-click="education.splice(education.indexOf(record), 1)"><i class="fa fa-trash fa-2x"></i></a>
        </label>
      </div>
      <hr class="show-for-small-only">
    </div>
    <div class="row">
      <div class="text-center small-12 columns">
        <a class="" ng-click="education.push({})"><i class="fa fa-plus"></i></a>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Employment Records</legend>
    <div class="row" ng-repeat="record in employmentRecords">
      <div class="medium-4 columns">
        <label>Company name
          <input ng-model="record.companyName" type="text" placeholder="Syner G Outsourcing Inc.">
        </label>
      </div>
      <div class="medium-3 columns">
        <label>Contact
          <input type="text" placeholder="074-424-1388">
        </label>
      </div>
      <div class="medium-2 small-6 columns">
        <label>From
          <input type="text" placeholder="2011">
        </label>
      </div>
      <div class="medium-2 small-6 columns">
        <label>To
          <input type="text" placeholder="2015">
        </label>
      </div>
      <div class="medium-1 small-12 columns end text-center">
        <label><br>
          <a class="trash-red" ng-click="employmentRecords.splice(employmentRecords.indexOf(record), 1)"><i class="fa fa-trash fa-2x"></i></a>
        </label>
      </div>
      <hr class="show-for-small-only">
    </div>
    <div class="row">
      <div class="text-center small-12 columns">
        <a ng-click="employmentRecords.push({})"><i class="fa fa-plus"></i></a>
      </div>
    </div>
  </fieldset>
  <div class="row" data-equalizer>
    <div class="small-6 medium-offset-6 medium-3 columns">
      <a class="button right expand">Submit</a>
    </div>
    <div class="small-6 medium-3 columns end">
      <a class="button left expand alert">Cancel</a>
    </div>
  </div>
</form>
