<div class="row panel">
  <p>This form contains all the applicants that have registered using the kiosk.</p>
</div>
<div class="row panel">
  <div class="small-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" placeholder="Search">
      </div>
      <div class="small-2 end columns">
        <a class="button postfix"><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
  <hr>
  <div class="small-12 columns">
    <div class="row text-center" ng-repeat="person in applicants">
      <div class="small-12 medium-1 columns">
        <span ng-switch="person.gender">
          <i ng-switch-when="M" class="fa fa-male fa-2x"></i>
          <i ng-switch-when="F" class="fa fa-female fa-2x"></i>
        </span>
      </div>
      <div class="small-12 medium-6 columns">
        <a>{{person.name}}</a>
      </div>
      <div class="small-12 medium-3 columns">
        <label>{{person.registrationDate}}</label>
      </div>
      <div class="small-12 medium-2 columns">
        <a class="button small expand"><i class="fa fa-eye"></i> Interview</a>
      </div>
      <hr>
    </div>
    <div class="row text-center">
      <div class="small-4 columns"><i class="fa fa-circle-o"></i></div>
      <div class="small-4 columns"><i class="fa fa-circle-o"></i></div>
      <div class="small-4 columns"><i class="fa fa-circle-o"></i></div>
    </div>
  </div>
</div>
