<p>This is the applicantform view.</p>
<form class="large-12 columns">
  <fieldset>
    <legend>Personal Information</legend>
  <div class="row">
    <div class="medium-4 columns">
      <label>Firstname
        <input type="text" placeholder="medium-4" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>Lastname
        <input type="text" placeholder="medium-4" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>Middlename
        <input type="text" placeholder="medium-4" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label>Address
        <input type="text" placeholder="medium-4" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>City
        <input type="text" placeholder="medium-4" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>Zip Code
        <input type="text" placeholder="medium-4" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label>Birth Date
        <input type="text" placeholder="date-picker here" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>Contact Number
        <input type="text" placeholder="medium-4" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>E-mail
        <input type="text" placeholder="medium-4" />
      </label>
    </div>
  </div>
  </fieldset>
  <fieldset>
    <legend>General Information</legend>
    <div class="row">
      <div class="medium-6 columns">
        <label>Have you been previously employed?</label>
        <input type="radio" name="past-employment" value="yes" id="past-employment-yes"><label for="yes">Yes</label>
        <input type="radio" name="past-employment" value="no" id="past-employment-no"><label for="no">No</label>
      </div>
    </div>
    <fieldset>
      <legend>If yes</legend>
      <div class="row">
        <div class="medium-6 columns">
          <label>Year</label>
        </div>
        <div class="medium-6 columns">
          <input type="text" placeholder="medium-4" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Business Establishment</label>
        </div>
        <div class="medium-6 columns">
          <input type="text" placeholder="medium-4" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Position</label>
        </div>
        <div class="medium-6 columns">
          <input type="text" placeholder="medium-4" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Reference</label>
        </div>
      </div>
    </fieldset>
  </fieldset>
</form>
